@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tangerine:wght@400;700&family=Vollkorn:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

.home-div {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 100px 10px 100px;
    justify-content: space-between;
}

.nav-div {
    align-self: center;
}

.nav {
    width: 100%;
}

.nav ul {
    display: inline-block;
    align-self: center;
}

.nav li {
    padding: 20px;
    display: inline;
}

.nav li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.6px;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('background-image-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    max-height: 800px;
}

.img-logo {
    width: 200px;
    height: 200px;
    object-position: center;
    object-fit: contain;
}

h2 {
    width: max-content;
    font-family: 'Vollkorn', sans-serif;
    font-size: 42px;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}

.home-title {
    width: 100%;
    text-align: right;
    color: #fff;
    padding: 100px;
    display: flex;
    justify-content: flex-end;
}

.home-title-div {
    width: 50%;
    text-align: right;
}

.home-title h1 {
    font-size: 3.875rem;
    font-family: 'Vollkorn', sans-serif;
}

.home-title p {
    font-size: 18px;
    font-family: 'Vollkorn', sans-serif;
    margin-bottom: 50px;
    text-align: justify;
}

.home-title a {
    text-decoration: none;
    color: #fff;
    border: 2.5px solid #fff;
    padding: 10px;
    font-family: 'Vollkorn', sans-serif;
    letter-spacing: 0.6px;
    font-size: 18px;
    font-weight: 100;
}

.home-title a:hover {
    color: #000;
    background-color: #fff;
}

.line {
    width: 100px;
    height: 2px;
    background: #d11242;
    margin: 0 auto 20px auto;
}

.line-vertical {
    width: 2px;
    height: 400px;
    background: #d11242;
    margin: 10px auto 20px auto;
    max-height: 400px;
}

.services,
.about,
.contact {
    width: 100%;
    padding: 50px 100px;
}

/* services section */
.services-desc {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.services-img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}

.services-img.first {
    padding: 50px;
}

.services-paragraph-div {
    padding: 10px 0;
}

.services-paragraph-div h4 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    text-transform: uppercase;
}

.services-paragraph-div p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: justify;

}


.about {
    background: #f8f9fa;
}

.paragraph-div {
    margin-bottom: 50px;
}

.paragraph-div h4 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.paragraph-div p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: justify;
}

.row {
    display: flex;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

.row.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.row.justify-content-around {
    justify-content: space-around;
    margin: 20px;
}

.row.justify-content-between {
    justify-content: space-between;
    padding: 5px;
}


.col {
    width: 45%;
}

.map p {
    text-align: end;
}

.col a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin: 20px 0;

}

.footer {
    width: 100%;
    background-color: #2d3e50;
    padding: 20px 100px;
}

.address {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.copyright {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.fade-left {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
}

.fade-left.fade-in-left {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s ease;
}

.fade-right {
    opacity: 0;
    transform: translate3d(50px, 0, 0);

}

.fade-right.fade-in-right {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s ease;
}

.nav-button {
    display: none;
}

.contact-img {
    width: 64px;
}

.contact-img:hover {
    transform: scale(1.5);
}

.contact-img.fb {
    padding: 10px;
}

#hamburger-icon {
    display: none;
}

/* Laptop */
@media screen and (max-width:1200px) {
    .home-div {
        padding: 10px 20px 10px 20px;
    }

    .home-div .img-logo {
        width: 120px;
        height: 120px;
    }

    h2 {
        font-size: 2rem;
    }

    .home-title {
        padding: 100px 40px;
    }

    .home-title h1 {
        font-size: 3rem;
    }

    .paragraph-div h4 {
        font-size: 1.5rem;
    }

    .services,
    .about,
    .contact {
        width: 100%;
        padding: 50px 50px;
    }

    .footer {
        width: 100%;
        background-color: #2d3e50;
        padding: 10px 20px 10px 20px;
    }

}

/*tablet and large mobile devices */
@media screen and (max-width:768px) {
    .nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .img-logo {
        display: none;
    }

    .home-div {
        padding: 10px 20px 10px 20px;
        background-color: #fff;
        min-height: 54px;
    }

    .nav-button {
        display: inline-block;
    }

    .col {
        width: 100%;
        text-align: center;
    }

    .contact-divider .line-vertical {
        display: none;
    }

    .contact-divider {
        margin: 10px 0;
    }

    .map p {
        text-align: center;
    }

    .home-title-div {
        width: 100%;
    }
}

/*small mobile devices*/
@media screen and (max-width:576px) {

    .services,
    .about,
    .contact {
        width: 100%;
        padding: 20px 15px;
    }

    .row.justify-content-around {
        margin: 0;
    }

    .home-title {
        width: 100%;
        padding: 100px 10px;
    }

    .home-title p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .home-title h1 {
        font-size: 2rem;
    }

    .services-paragraph-div h4 {
        font-size: 1.2rem;
    }


    /* about section */

    .paragraph-div h4 {
        font-size: 1.2rem;
    }

    .address,
    .copyright {
        font-size: 0.625rem;
    }

    .overlay a {
        font-size: 1.5rem !important;
    }
}

/*curtain menu*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #0f0f0f;
    display: block;
    transition: 0.3s;
    font-family: 'poppins', sans-serif;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 60px;
}

.content {
    display: none;
}

/*hamburger icon*/
#hamburger-icon {
    width: 30px;
    height: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #d11242;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
    top: 0px;
}

#hamburger-icon span:nth-child(2) {
    top: 10px;
}

#hamburger-icon span:nth-child(3) {
    top: 20px;
}

#hamburger-icon.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#hamburger-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#hamburger-icon.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}